{% extends '../base.html' %}

{% block titulo %} Inicio  {% endblock %}

{% block contenido %}  

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenidos al sitio de la libreria Valentina</h1>
        <p class="lead">Empezar a ingresar libros</p>
        <hr class="my-2">
        <p>Gato el que lee</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Empezar</a>
        </p>
    </div>
</div>


{% endblock %} 