{% extends '../base.html' %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}  

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo libro</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>

        <table class="table">
            <thead>
                   <tr>
                          <th>ID</th>
                          <th>Titulo</th>
                          <th>Imagen</th>
                          <th>Descripcion</th>
                          <th>Acciones</th>
                   </tr>
            </thead>
            <tbody>

                {% for libro in libros %}
                <tr>
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.Titulo }}</td>
                    <td>
                        <img src="{{ libro.Imagen.url }}" height="100" width="100"/>

                    </td>
                    <td>{{ libro.Descripcion }}</td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'editar' libro.id %}" role="button">Editar</a>
                        <br/>
                        <br/>
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' libro.id %}" role="button">Borrar</a>
                    </td>
                </tr>
                {% endfor %} 

            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
      
    </div>
</div>

{% endblock %}